.order-banner-hight{
  height: 256px;
}

.order-hight{
  @media(min-width: 768px){
    height: 256px;
  }
}

.order-pic{
  background: url(../images/alina-grubnyak-R84Oy89aNKs-unsplash.jpg)no-repeat center center/cover;
}

.devider::before{
  content: "";
  height: 255px;
  width: 1px;
  background: #000;

  position: absolute;
  top: 0;
  right: 0;

  @media(max-width: 768px){
    display: none;
  }
}

.selected-bottom-line{
  border-bottom: 1px solid $secondary;
}

.ex-fluid-pic{
  background: url(../images/home-banner.jpg)no-repeat center center/cover;
  height: 400px;
}

.ex-side-pic{
  background: url(../images/ricardo-gomez-angel-j5gCOKZdm6I-unsplash.jpg)no-repeat center center/cover;
  height: 559px;
}